@keyframes QrFadeIn {
    from { opacity: 0; }
    to { opacity : 1; }
}

@keyframes notifyFadeIn {
    from {transform: scale(0); opacity: 0.5; }
    to {transform : scale(1); opacity : 1; }
}

@keyframes authorFormFadeOut {
    from {transform: scale(0.6); opacity:0.5}
    to {transform : scale(1); opacity: 1}
}

@keyframes modalFadeOut {
    from {opacity: 0}
    to {opacity: 1}
}