:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238, 77, 45); 
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.bold-500 {
    font-weight: 500 !important;
}

.separation__border::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    min-width: 142px;
    height: 36px;
    padding: 0;
    font-size: 1.4rem;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    color: var(--text-color);
    text-align: center;
    cursor: pointer;
    background-color: var(--white-color);
}